

header {
	margin-left: -15px;
	margin-right:  -15px;
}

.headerblock {
	display: flex;
	align-items: center;
	margin-top: 60px;
	margin-right: 20px;
	font-family: $font-montserrat;
	font-weight: bold;
	margin-bottom: 40px;
    font-size: 14px;
}

a.menu {
	text-decoration: none;
	color: black;
	margin-left: 30px;
	&:hover {
    	color: $text-color-hover;
	}
	&.active {
		color: $text-color-hover;
	}
}

div .menulist> div {
    display: inline-block;
}

.logoimage {
	width: 300px;
	height: auto;
	padding-right: 60px;
}